@model IEnumerable<FIT5032_AssignmentPortfolio_Ver1._1.Models.Flight>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeparturePlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arrivalDateTime)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeparturePlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departureDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.arrivalDateTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FlightId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FlightId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FlightId })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")

    <script>

        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

